.titleWrap{
    font-size: 48px;
    font-weight: 500;
}

.nameWrap{
    display: flex;
    margin-bottom: 2%;
}

.titleName{
    margin-left: 20px;
    color: #FF0000;
}

.titleCongrats{
    font-size: 18px;
    font-weight: 400;
}

.iconClap{
    width: 20px;
    height: 20px;
}
