.activityChart{
background-color: #FBFBFB;
padding: 20px;
position: relative;
width: 100%;
height: 320px;
display: flex;
justify-content: center;
border-radius: 5px;
box-sizing: border-box;
}

.activityWrap{
height: 100%;
width: 100%;
}

.recharts-tooltip-cursor{
fill: rgba(204, 204, 204, 0.5)
}

.activityChartTitle, .scoreChartTitle{
position: absolute;
font-size: 15px;
font-weight: 500;
margin: 0;
top: 30px;
left: 30px;
}

.activityYAxis, .activityXAxis{
font-weight: 500;
font-size: 14px;
}

.activityLegendColor{
color: #74798C;
font-size: 14px;
font-weight: 500;
}

.activityChartTooltip{
background-color: #E60000;
color: white;
font-weight: 500;
font-size: 7px;
height: 45px;
width: 39px;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
padding: 15px 5px;
}
