.scoreChart{
    position: relative;
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 32%;
    height: 263px;
}

.scoreChartTitle{
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    top: 20px;
    left: 20px;
    }

.scoreChartWrap{
    height: 100%;
    width: 100%;

.score{
    position: absolute;
    top: 40%;
    width: 100%;
    margin: 0;
}

.scoreText{
    font-size: 16px;
    font-weight: 500;
    color: #74798C;
    text-align: center;
    margin: 0;
}

.scoreResult{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #282D30;
    margin: 0;
    }
}