body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.errorPage{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 500;
  margin-top: 100px;
}

//Header
.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #020203;
  height: 80px;
}

.headerLogo{
  height: 60px;
  padding-left: 20px;
}

.headerNavigation{
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 0 40px;
}

.headerNavigation a{
  color: white;
  text-decoration: none;
  font-weight: 500;
}

//Main section
.main{
  display: flex;
  width: 100%;
  height: 100%;
}

//LeftBar
.leftBarContainer{
  display:flex;
  flex-direction: column;
  width: 80px;
  background-color: #020203;
  position: relative;

  img{
    width: 64px;
    height: 64px;
    margin: 10px;
    border-radius: 6px;
  }
}

.copyright{
  color: white;
  font-size: 12px;
  writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  transform: rotate(180deg);
  -moz-transform:rotate(180deg);
  position: absolute;
  bottom: 40px;
  left: 32px;
}

.leftBarImgWrap{
  display:flex;
  flex-direction: column;
  width: 80px;
  height: 100%;
  background-color: #020203;
  align-items: center;
  justify-content: center;
}

//Home
.homeUsers{
  font-size: 60px;
  font-weight: 500;
  margin: 400px 0 0px 400px;
  
  & a{
    text-decoration: none;
    color: #FF0000;
  }

  & li{
    margin: 40px 0;
  }
}

//Dashboard
.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2%;
  width: calc(100% - 80px);
  height: 100%;
  box-sizing: border-box;
}

//Title
.titleWrap{
  font-size: 48px;
  font-weight: 500;
}

.nameWrap{
  display: flex;
  margin-bottom: 2%;
}

.titleName{
  margin-left: 20px;
  color: #FF0000;
}

.titleCongrats{
  font-size: 18px;
  font-weight: 400;
}

.iconClap{
  width: 20px;
  height: 20px;
}

//Charts section
.charts{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 2%;
}

//Charts article section
article{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.activityChart{
  background-color: #FBFBFB;
  padding: 20px;
  position: relative;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
}

.activityWrap{
  height: 100%;
  width: 100%;
}

.recharts-tooltip-cursor{
  fill: rgba(204, 204, 204, 0.5)
}

.activityChartTitle, .scoreChartTitle{
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  top: 30px;
  left: 30px;
}

.activityYAxis, .activityXAxis{
  font-weight: 500;
  font-size: 14px;
}

.activityLegendColor{
  color: #74798C;
  font-size: 14px;
  font-weight: 500;
}

.activityChartTooltip{
  background-color: #E60000;
  color: white;
  font-weight: 500;
  font-size: 7px;
  height: 45px;
  width: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px 5px;
}

//Nutrition aside section
aside{
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  width: 15%;
  justify-content: space-between;
}

.nutritionCard{
  background-color: #FBFBFB;
  padding: 8%;
  display: flex;
  width: 100%;
}

.nutritionCardIcon{
  width: 60px;
  height: 60px;
}

.nutritionCardText{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px;
}

.nutritionCardKeyData{
  font-weight: 700;
  font-size: 18px;
}

.nutritionCardKeyType{
  font-weight: 500;
  font-size: 14px;
}

//Other charts section
.otherCharts{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
}

.sessionDurationChart{
  background-color: #FF0000;
  border-radius: 5px;
  height: 263px;
  width: 32%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sessionDurationWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sessionDurationChartTitle{
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  opacity: 0.5;
  width: 150px;
  margin-left: 20px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.sessionDurationChartTooltip{
  display: flex;
  width: 40px;
  height: 25px;
  background-color: #FFFFFF;
  font-size: 8px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.performanceChart{
  background-color: #282D30;
  border-radius: 5px;
  width: 32%;
  height: 263px;
}

.scoreChart{
  position: relative;
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 32%;
  height: 263px;
}

.scoreChartWrap{
  height: 100%;
  width: 100%;

  .score{
    position: absolute;
    top: 38%;
    left: 38%;
    margin: 0;
  }
  
  .scoreText{
    font-size: 16px;
    font-weight: 500;
    color: #74798C;
    text-align: center;
    margin: 0;
  }
  
  .scoreResult{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #282D30;
    margin: 0;
  }
}